body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.category-list {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  border: 2px solid blue;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-nine-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  border: 2px solid black;
  width: 75px;
}
